h1{color: red;}
h2{font-family: 'Times New Roman', Times, serif;}
.topnav{
    overflow: hidden;
    background-color: #333;
}

.topnav a{
    float: left;
    color: wheat;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
}

.topnav a:hover{
    background-color: gray;
    color: black;
}

.topnav a.active {
    background-color: darkred;
    color: black;
}
body{text-align: center;}